{% extends "base.html" %}

{% block title %} Index Page {% endblock %}

{% block content %} 
<h1>Hello, Morpheus!</h1>
    <!-- dynamically making changes in the html file -->
    <p>{{a}}</p>
    <p>{{b}}</p>
    <p>{{c}}</p>
    <p>{{d}}</p>
    <ul>
    {% for item in c %} 
        {% if item == "30" %}
            <li style="color: red">{{ item }}</li>
        {% else %}
            <li>{{ item }}</li>
       {% endif %} 
    {% endfor %}
    </ul>

    <a href="{{url_for('other')}}">Other</a>
{% endblock %}
